<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.detailC">

<resultMap type="kr.co.sist.user.domain.Summary" id="summary">
	<result column="banner_img" property="banner_img"/>
	<result column="lname" property="lname"/>
	<result column="lintro" property="lintro"/>
	<result column="teacher_name" property="teacher_name"/>
	<result column="address" property="address"/>
	<result column="max_member" property="max_member"/>
	<result column="class_time" property="class_time"/>
	<result column="img" property="img"/>
</resultMap>
<select id="selectSummary" resultMap="summary" parameterType="String">
	select l.banner_img,l.lname,l.lintro,l.teacher_name,substr(l.address,instr(l.address,'시')+2,3) address,l.max_member,l.end_time-l.start_time class_time,t.img
	from lesson l ,teacher t
	where  t.teacher_name=l.teacher_name and lcode = #{lcode}
</select>

<resultMap type="kr.co.sist.user.domain.Star" id="star">
	<result column="starAvg" property="starAvg"/>
	<result column="starCount" property="starCount"/>
</resultMap>
<select id="selectStar" resultMap="star" parameterType="String">
	select avg(score) starAvg ,count(score) starCount
	from review
	where lcode = #{lcode}
</select>

<select id="selectCareerList" resultType="String" parameterType="String"> 
	select c.career
	from career c
	where c.teacher_name=(select t.TEACHER_NAME
	from lesson l inner join teacher t
	on t.teacher_name=l.TEACHER_NAME
	where lcode= #{lcode})
</select>

<resultMap type="kr.co.sist.user.domain.ReviewDomain" id="Review">
	<result column="CLIENT_ID" property="memberId"/>
	<result column="SUBJECT" property="title"/>
	<result column="CONTENTS" property="Content"/>
	<result column="SCORE" property="star"/>
	<result column="r_date" property="inputDate"/>
</resultMap>
<select id="selectReviewList" resultMap="Review" parameterType="String">
	select   CLIENT_ID, SUBJECT, CONTENTS, SCORE, r_date
	from review
	where lcode = #{lcode}
</select>



</mapper>