<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.mainC">

<select id="selectCategoryList" resultType="String">
	 <![CDATA[
	select category 
	from category 
	where rownum <= 11 
	order by category
	 ]]>
</select>

<resultMap type="kr.co.sist.user.domain.Category" id="category">
	<result column="category" property="category"/>
	<result column="img" property="img"/>
</resultMap>
<select id="selectCategoryImgList" resultMap="category">
	 <![CDATA[
	select category,img 
	from category 
	where rownum <= 9 
	 ]]>
</select>

</mapper>