<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.mapper.userLecture_mapper">
<resultMap type="kr.co.sist.user.domain.LectureView" id="LectureViewInfo">
	<result column="status" property="status"/>
	<result column="lcode" property="lcode"/>
	<result column="lname" property="lname"/>
	<result column="start_date" property="startDate"/>
	<result column="end_date" property="endDate"/>
	<result column="teacher_name" property="teacherName"/>
	<result column="max_member" property="maxMember"/>
	<result column="now_member" property="nowMember"/>
	
	<result column="client_id" property="clientId"/>
	<result column="name" property="name"/>
	<result column="tel" property="tel"/>
</resultMap>
<select id="selectLectureInfo" resultMap="LectureViewInfo" parameterType="map">
	select STATUS, LNAME, LCODE, TO_CHAR(START_DATE,'yyyy-mm-dd') START_DATE,  TO_CHAR(END_DATE,'yyyy-mm-dd') END_DATE, TEACHER_NAME, MAX_MEMBER,
		nvl((select count(*)
			from STUDENTS
			where lcode = #{ lcode }), 0) as now_member
	from LESSON
	where lcode = #{ lcode } <!-- map으로 넘길땐 key값으로 -->

	<if test="status != null and !status.equals('') and !status.equals('All')">
		and status = #{status}
	</if>
</select>

<select id="selectLcode" resultType="String" parameterType="String">
	select LCODE 
	from LESSON
	where TEACHER_NAME = #{ TEACHER_NAME }
</select>

<select id="selectTeachername" resultType="String" parameterType="String">
	select TEACHER_NAME 
	from TEACHER
	where CLIENT_ID = #{CLIENT_ID}
</select>

<select id="selectStudentsList" resultMap="LectureViewInfo" parameterType="String">
	select s.client_id, c.name, c.tel
	from STUDENTS s, CLIENT c
	where s.client_id = c.client_id
		and s.lcode = #{lcode}
</select>

<resultMap type="kr.co.sist.user.domain.StatusCnt" id="StatusCnt">
	<result column="status" property="status"/>
	<result column="num" property="num"/>
</resultMap>
<select id="selectLectureStatus" resultMap="StatusCnt" parameterType="String">
	select L.status, count(*) num
	from lesson L
	where teacher_name = #{value}
    group by L.status
</select>

</mapper>






