<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.mapper.userMypage_mapper">
<resultMap type="kr.co.sist.user.domain.ClassList" id="classListResult">
	<result column="lcode" property="lcode"/>
	<result column="status" property="status"/>
	<result column="lname" property="lname"/>
	<result column="start_date" property="startDate"/>
	<result column="end_date" property="endDate"/>
	<result column="num" property="num"/>
	<result column="teacher_name" property="teacherName"/>
</resultMap>
<select id="classList" parameterType="kr.co.sist.user.vo.ListVO" resultMap="classListResult">
	select s.lcode, s.status, l.lname, to_char(l.start_date, 'yyyy-mm-dd') start_date, 
			to_char(l.end_date, 'yyyy-mm-dd') end_date,num,  l.teacher_name
	from students s, lesson l,
			(select max(rownum) num
			from students
			where lcode=#{lcode}) n
	where s.lcode=#{lcode} and l.lcode=#{lcode} and s.client_id=#{clientId}
</select>

<resultMap type="kr.co.sist.user.domain.CancelList" id="cancelListResult">
	<result column="lname" property="lname"/>
	<result column="start_date" property="startDate"/>
	<result column="end_date" property="endDate"/>
	<result column="cancel_date" property="cancelDate"/>
</resultMap>
<select id="cancelList" parameterType="kr.co.sist.user.vo.ListVO" resultMap="cancelListResult">
	select		l.lname, to_char(l.start_date, 'yyyy-mm-dd') start_date,
				to_char(l.end_date, 'yyyy-mm-dd') end_date, s.cancel_date
	from		students s, lesson l
	where	l.lcode=#{lcode} and s.lcode=#{lcode} and s.client_id=#{clientId}
</select>

<select id="cancelLcodeList" parameterType="String" resultType="String">
	select		lcode
	from		students
	where	status='C' and client_id=#{clientId}
</select>

<select id="reviewStatus" parameterType="kr.co.sist.user.vo.ListVO" resultType="String">
	select		subject
	from		review
	where	client_ID=#{clientId} and lcode=#{lcode}
</select>

<select id="insertJjim" parameterType="kr.co.sist.user.vo.ListVO" resultType="boolean">
	insert into lesson_like values(#{clientId}, #{lcode})	
</select>

<select id="deleteJjim" parameterType="kr.co.sist.user.vo.ListVO" resultType="boolean">
	DELETE  FROM  LESSON_LIKE
	WHERE lcode=#{lcode} and client_ID=#{clientId}
</select>

<select id="statusClassList" parameterType="kr.co.sist.user.vo.StatusListVO" resultMap="classListResult">
	select s.status, l.lname, to_char(l.start_date, 'yyyy-mm-dd') start_date, 
			to_char(l.end_date, 'yyyy-mm-dd') end_date,num,  l.teacher_name
	from students s, lesson l,
			(select max(rownum) num
			from students
			where lcode=#{lcode}) n
	where s.lcode=#{lcode} and l.lcode=#{lcode} and s.client_id=#{clientId} and s.status=#{pageStatus}
</select>

<select id="jjimStatus" parameterType="kr.co.sist.user.vo.ListVO" resultType="String">
	select		lcode
	from		lesson_like
	where	client_id=#{clientId} and lcode=#{lcode}
</select>

<select id="lcodeList" parameterType="String" resultType="String">
	select lcode
	from students
	where client_id=#{clientId}
</select>


<resultMap type="kr.co.sist.user.domain.QnaList" id="qnaListResult">
	<result column="q_date" property="qDate"/>
	<result column="lname" property="lname"/>
	<result column="status" property="status"/>
</resultMap>
<select id="qnaList" parameterType="kr.co.sist.user.vo.ListVO" resultMap="qnaListResult">
	select		q.q_date, l.lname, q.status
	from		lesson_qna q, lesson l
	where	l.lcode=#{lcode} and q.lcode=#{lcode} and q.client_id=#{clientId}
</select>

<select id="qnaLcodeList" parameterType="String" resultType="String">
	select		lcode
	from		lesson_qna
	where	client_id=#{clientId}
</select>

<resultMap type="kr.co.sist.user.domain.ReportList" id="reportListResult">
	<result column="r_date" property="rDate"/>
	<result column="lname" property="lname"/>
	<result column="status" property="status"/>
</resultMap>
<select id="reportList" parameterType="kr.co.sist.user.vo.ListVO" resultMap="reportListResult">
	select		r.r_date, l.lname, r.status
	from		report r, lesson l
	where	l.lcode=#{lcode} and r.lcode=#{lcode} and r.client_id=#{clientId}
</select>

<select id="reportLcodeList" parameterType="String" resultType="String">
	select		lcode
	from		report
	where	client_id=#{clientId}
</select>


<select id="listTotalCnt" parameterType="String" resultType="int">
 	select count(lcode) cnt
	from students
	where client_id=#{clientId}
</select>

<select id="">

</select>

<select id="statusCnt" parameterType="kr.co.sist.user.vo.StatusCntVO" resultType="int">
 	select count(lcode) cnt
	from students
	where client_id=#{clientId} and status=#{status}
</select>
</mapper>