<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<!-- 의존성 주입할 객체 생성 -->
	<bean class="kr.co.sist.user.service.UserLoginServiceImpl" id="UserLoginService" scope="singleton">
		<constructor-arg ref="LoginDAO"/>
	</bean>	
	<bean class="kr.co.sist.user.dao.LoginDaoImpl" id="LoginDAO" scope="singleton"/>
		
	<bean class="kr.co.sist.user.service.UserPageServiceImpl" id="UserPageService" scope="singleton">
		<constructor-arg ref="UserPageDAO"/>
	</bean>	
	<bean class="kr.co.sist.user.dao.UserPageDAOImpl" id="UserPageDAO" scope="singleton"/>

</beans>
