<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin">

<resultMap type="kr.co.sist.admin.domain.MemberListDomain" id="MemberListDomain">
	<result column="client_id" property="client_id"/>
	<result column="name" property="name"/>
	<result column="birth" property="birth"/>
	<result column="gender" property="gender"/>
	<result column="email" property="email"/>
</resultMap>

<select id="clientTotalCnt" resultType="int">
	select count(*) cnt 
	from client
</select>

<!-- <select id="teacherInfo" resultType="java.lang.String">
	select status 
	from teacher 
	where status='Y' and client_id=#{id}
</select> -->

<select id="selectClient" resultMap="MemberListDomain" parameterType="kr.co.sist.admin.vo.ListVO">
select client_id, name, birth, gender, email
from(select client_id, name, birth, gender, email, row_number() over(order by inputdate desc) r_num
from client)
where r_num between #{ startNum } and #{ endNum }
</select>


<select id="selectClientDetail" resultType="kr.co.sist.admin.domain.MemberDetail" parameterType="String">
select client_id, name, birth, gender, tel, inputdate, email
from client
where client_id = #{ client_id }
</select>

<select id="selectClientLesson" resultType="kr.co.sist.admin.domain.MemberLesson" parameterType="String">
select l.lname, l.status
from STUDENTS s, LESSON l
where (s.lcode = l.lcode) and s.client_id = #{ client_id }
</select>

<insert id="addBlackList" parameterType="kr.co.sist.admin.vo.AddBlackVO" >
insert into blacklist
values(#{client_id}, #{reason}, #{sysdate})
<!-- TO_DATE('2015-06-10','YYYY-MM-DD') -->
</insert>

<select id="ifBlack" resultType="int" parameterType="String">
<!-- select client_id
from blacklist
where client_id=#{ client_id } -->
select count(*) cnt from(
select client_id
from blacklist
where client_id=#{ client_id })
</select>

<select id="ifTeacher" resultType="int" parameterType="String">
<!-- select client_id
from teacher
where status='Y' and client_id=#{ client_id } -->
select count(*) cnt from(select client_id
from teacher
where status='Y' and client_id=#{ client_id })
</select>



</mapper>