<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin">

<resultMap type="kr.co.sist.admin.domain.TeacherPermitDomain" id="TeacherPermitDomain">
	<result column="client_id" property="client_id"/>
	<result column="teacher_name" property="teacher_name"/>
	<result column="birth" property="birth"/>
	<result column="gender" property="gender"/>
	<result column="email" property="email"/>
</resultMap>

<select id="teacherPermitTotalCnt" resultType="int">
SELECT COUNT(*)
FROM TEACHER
WHERE STATUS='N'
</select>

<select id="selectTeacherPermit" resultMap="TeacherPermitDomain" parameterType="kr.co.sist.admin.vo.ListVO">
select client_id, teacher_name, birth, gender, email
from(select t.client_id, t.teacher_name, c.birth, c.gender, c.email, row_number() over(order by c.inputdate desc) r_num
from  teacher t, client c
where t.client_id=c.client_id and t.status='N')
where r_num between #{ startNum } AND #{ endNum }
</select>

<delete id="delTeacherPermit" parameterType="String">
delete from teacher 
where client_id=#{client_id}
</delete>

<update id="updateTeacherPermitStat" parameterType="String">
update client
set status='Y'
where client_id=#{client_id}
</update>

<update id="teacherPermission" parameterType="String">
update teacher
set status='Y'
where client_id=#{client_id}
</update>

</mapper>