<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin">

<resultMap type="kr.co.sist.admin.domain.TeacherPermitDomain" id="TeacherPermitDomain">
	<result column="client_id" property="client_id"/>
	<result column="teacher_name" property="teacher_name"/>
	<result column="birth" property="birth"/>
	<result column="gender" property="gender"/>
	<result column="email" property="email"/>
</resultMap>

<select id="selectTeacherPermit" resultMap="TeacherPermitDomain">
SELECT T.CLIENT_ID, T.TEACHER_NAME, C.BIRTH, C.GENDER, C.EMAIL
FROM  TEACHER T, CLIENT C
WHERE T.CLIENT_ID=C.CLIENT_ID and t.status='N'
</select>

</mapper>